@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'IBM Plex Mono', sans-serif;
	}
}

@layer utilities {
	:root {
		scrollbar-color: theme('colors.secondary') theme('colors.primary');
	}
	:root::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	:root::-webkit-scrollbar-track {
		background: theme('colors.primary');
	}

	:root::-webkit-scrollbar-thumb {
		background: theme('colors.primary');
		border-radius: 100vh;
		border: 1px solid theme('colors.secondary');
	}

	:root::-webkit-scrollbar-thumb:hover {
		background: theme('colors.secondary');
	}

	.shine {
		justify-content: center;
		transition: transform 200ms ease;
		overflow: hidden;
	}
	.shine:before {
		content: '';
		position: absolute;
		height: 200%;
		width: 4rem;
		transform: rotate(30deg);
		background-color: #ffffff33;
		left: -80%;
	}
	.shine:hover {
		transform: scale(1.05);
	}
	.shine:hover:before {
		transition: left 600ms ease;
		left: 160%;
	}
}
